.about-us {
  margin-top: -10em;
  background-image: url(../assets/about-us-pic.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20em 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .about-us-text {
    padding: 0em 4em;
    p {
      @include brand-2;
      font-size: 1.25em;
    }
    h1 {
      @include brand-2;
      font-size: 3em;
      font-weight: bold;
      line-height: 1;
    }
  }
}

.about-us-description {
  padding: 0em 4em;
  .description-paragraph {
    @include brand-2;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 1em;
  }
  .second-description-paragraph {
    max-width: 35ch;
    @include brand-2;
    font-size: 1em;
    margin-bottom: 1em;
  }

  .third-description-paragraph {
    max-width: 35ch;
    @include brand-2;
    font-size: 1em;
  }
}

@media (max-width: 420px) {
  .about-us {
    margin-top: 1em;
  }

  .about-us-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    .about-us-text {
      padding: 0em 1em;
      h1 {
        font-size: 2em;
      }
    }
  }

  .about-us-description {
    padding: 0 1em;
    .description-paragraph {
      @include brand-2;
      font-weight: bold;
      font-size: 1em;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    .second-description-paragraph {
      max-width: 35ch;
      @include brand-2;
      font-size: 1em;
      margin-bottom: 1em;
    }

    .third-description-paragraph {
      max-width: 35ch;
      @include brand-2;
      font-size: 1em;
      margin-bottom: 3em;
    }
  }
}
