.croissants-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.croissant-content {
  h1 {
    @include brand-2;
    font-size: 5em;
    font-weight: bold;
    position: relative;
    &::after {
      content: "";
      width: 60px;
      height: 1px;
      background-color: #000;
      display: block;
      position: absolute;
      bottom: 10px;
    }
  }
  h2 {
    @include brand-2;
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  p {
    @include brand-2;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.1em;
    max-width: 30ch;
  }
  a {
    @include brand-2;
    font-size: 1em;
    font-weight: bold;
  }
  .croissant-price {
    @include pink-2;
    background-color: #fff;
    border-radius: 40px;
    padding: 0.2em 0.5em;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    display: inline-block;
  }
}

.croissant-img {
  justify-self: flex-end;
}

@media (max-width: 420px) {
  .croissants-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .croissant-content {
    p {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    h2 {
      display: none;
    }
    h1 {
      font-size: 2.25em;
      display: flex;
      justify-content: center;
      position: relative;
      &::after {
        content: "";
        width: 50px;
        height: 1px;
        background-color: #000;
        display: block;
        position: absolute;
        bottom: -10px;
      }
    }
    .croissant-price {
      display: none;
    }
  }

  .croissant-img {
    width: 90%;
  }
}
