.find-us {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  .contact-info {
    padding: 2em 2em;
    border-radius: 40px 0px 0px 40px;
    background: #541611;
    background: linear-gradient(225deg, #541611, #f3c7c4);
    h1 {
      font-size: 5em;
      color: #fff;
      font-weight: bold;
      max-width: 1ch;
      line-height: 1;
      &::after {
        content: "";
        width: 50px;
        height: 1px;
        background-color: #fff;
        display: block;
        margin-top: 0.1em;
      }
    }

    p {
      color: #fff;
      font-size: 1.25em;
      font-weight: 300;
      margin-top: 1em;
    }

    span {
      display: block;
      color: #fff;
      font-size: 1em;
      font-weight: 200;
      margin-top: 1em;
      max-width: 30ch;
    }

    a {
      @include heading-color;
      font-size: 1em;
      font-weight: 700;
      margin-top: 2em;
      display: block;
    }

    .contact-img {
      position: relative;
      top: -28em;
      left: 17em;
      margin-bottom: -32em;
    }
  }
  .contact-place {
    padding: 2em 2em;
    border-radius: 0px 40px 40px 0px;
    background: #ffffff;
    background: linear-gradient(45deg, #ffffff, #8f433e);
    h1 {
      color: #fff;
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::after {
        content: "";
        width: 85%;
        height: 1px;
        background-color: #fff;
        display: block;
        margin-top: 0.5em;
      }
    }

    .address-p {
      max-width: 25ch;
      margin-top: 1.5em;
      margin-left: 1.3em;
      color: #fff;
      font-size: 1em;
      font-weight: 200;
    }

    .address {
      color: #fff;
      font-size: 1em;
      font-weight: 200;
      margin-top: 1.5em;
      display: flex;
      align-items: center;
      gap: 30px;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 420px) {
  .find-us {
    width: 90%;
    margin: 0 auto;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    position: relative;
    .contact-info {
      padding: 2em 2em;
      border-radius: 40px 40px 0px 0px;
      background: #541611;
      background: linear-gradient(225deg, #541611, #f3c7c4);
      h1 {
        font-size: 4em;
        color: #fff;
        font-weight: bold;
        max-width: 1ch;
        line-height: 1;
        &::after {
          content: "";
          width: 50px;
          height: 1px;
          background-color: #fff;
          display: block;
          margin-top: 0.1em;
        }
      }

      p {
        color: #fff;
        font-size: 1.25em;
        font-weight: 300;
        margin-top: 1em;
      }

      span {
        display: block;
        color: #fff;
        font-size: 1em;
        font-weight: 200;
        margin-top: 1em;
        max-width: 30ch;
      }

      a {
        @include heading-color;
        font-size: 1em;
        font-weight: 700;
        margin-top: 2em;
        display: block;
      }

      .contact-img {
        position: absolute;
        top: 17em;
        left: 12em;
        img {
          max-width: fit-content;
          width: 165px;
          height: 137px;
        }
      }
    }
    .contact-place {
      padding: 2em 2em;
      border-radius: 0px 0px 40px 40px;
      background: #ffffff;
      background: linear-gradient(45deg, #ffffff, #8f433e);
      h1 {
        color: #fff;
        font-size: 2.25em;
        font-weight: bold;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after {
          content: "";
          width: 85%;
          height: 1px;
          background-color: #fff;
          display: block;
          margin-top: 0.5em;
        }
      }

      .address-p {
        max-width: 25ch;
        margin-top: 1.5em;
        margin-left: 1.3em;
        color: #fff;
        font-size: 1em;
        font-weight: 200;
      }

      .address {
        color: #fff;
        font-size: 1em;
        font-weight: 200;
        margin-top: 1.5em;
        margin-bottom: 2.5em;
        display: flex;
        align-items: center;
        gap: 30px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
