.footer {
  max-width: 1200px;
  margin: 8em auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  .info-footer {
    margin-top: 3em;
    p {
      @include heading-color;
      font-weight: 300;
      max-width: 30ch;
    }
    .info-footer-paragraph {
      margin-bottom: 1em;
    }
  }

  .footer-list {
    display: flex;
    gap: 0.4em;
    margin-top: 1em;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.links-footer {
  margin-top: 3em;
  a {
    @include heading-color;
    font-weight: 300;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.institucional-footer {
  margin-top: 3em;

  p {
    @include heading-color;
    font-weight: 300;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  a {
    @include heading-color;
    font-weight: 300;
  }
}

@media (max-width: 420px) {
  .footer {
    width: 90%;
    margin: 4em auto;
    flex-direction: column;
  }
}
