@mixin heading-color {
  color: #3c0e0e;
}

@mixin text-1 {
  color: #000000;
}

@mixin text-2 {
  color: #282828;
}

@mixin text-3 {
  color: #1a1a1a;
}

@mixin text-4 {
  color: #222222;
}

@mixin brand {
  color: #c54b69;
}

@mixin brand-2 {
  color: #c54b69;
}

@mixin pink {
  color: #eb8e8e;
}

@mixin pink-2 {
  color: #f9c4c4;
}

@mixin header-links {
  font-size: 1.25em;
  font-weight: 500;
}

@mixin text-shadow {
  text-shadow: -1px 6px 6px rgba(0, 0, 0, 0.2);
}
